<ion-view view-title="Accounts">
	<ion-content class="scroll-content ionic-scroll  has-header has-tabs">

	<div class="list">
		<a class="item item-icon-left" ui-sref="app.update_profile">
		<i class="icon ion-gear-b"></i>
		Update Profile
		</a>

		<a class="item item-icon-left" ui-sref="app.changepwd">
		<i class="icon ion-locked"></i>
		Change password
		</a>

		<a class="item item-icon-left" ui-sref="app.payment_details">
		<i class="icon ion-card"></i>
		Payment Details
		</a>
	</div>

	</ion-content>
</ion-view>
