<ion-view view-title="{{passwordtext}}">
	<ion-content class="scroll-content ionic-scroll has-header has-tabs">

		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<form ng-submit="change_pwd_profile(password)" name="formChgPassword" ng-show="changeFormShow" class="ng-hide">
			<div class="list">

				<label class="item item-input item-stacked-label" ng-show="needOldPassword">
					<span class="input-label">Old Password</span>
					<input ng-model="password.oldpassword" type="password" name="opassword" placeholder="Old password" ng-Required="needOldPassword" ng-minlength="3" ng-maxlength="30">
				</label>
				<p class="error" ng-show="(formChgPassword.opassword.$error.required || formChgPassword.opassword.$error.minlength) && !formChgPassword.opassword.$pristine">* Password required atleast 3 characters</p>
				<p class="error" ng-show="formChgPassword.opassword.$error.maxlength && !formChgPassword.opassword.$pristine">* Old password cannot exceed 30 characters.</p>	


				<label class="item item-input item-stacked-label">
					<span class="input-label">New Password</span>
					<input ng-model="password.newpassword"  type="password" name="npassword" placeholder="New password" ng-Required="true" ng-minlength="3" ng-maxlength="30">
				</label>
				<p class="error" ng-show="(formChgPassword.npassword.$error.required || formChgPassword.npassword.$error.minlength) && !formChgPassword.npassword.$pristine">* Password required atleast 3 characters</p>
				<p class="error" ng-show="formChgPassword.npassword.$error.maxlength && !formChgPassword.npassword.$pristine">* New password cannot exceed 30 characters.</p>	

				<label class="item item-input item-stacked-label">
					<span class="input-label">Confirm Password</span>
					<input ng-model="password.confirmpassword"  name="cpassword" type="password" placeholder="Confirm password" ng-Required="true" ng-minlength="3" ng-maxlength="30">
				</label>
				<p class="error" ng-show="(formChgPassword.cpassword.$error.required || formChgPassword.cpassword.$error.minlength) && !formChgPassword.cpassword.$pristine">* Password required atleast 3 characters</p>
				<p class="error" ng-show="formChgPassword.cpassword.$error.maxlength && !formChgPassword.cpassword.$pristine">* Confirm password cannot exceed 30 characters.</p>

			</div>
			<div class="padding">
				<button name="change_password" class="button button-block button-positive" ng-disabled="formChgPassword.$invalid">{{passwordtext}}</button>
			</div>
		</form>
	</ion-content>
</ion-view>