<ion-view view-title="Reset Password">
	<ion-content class="scroll-content ionic-scroll has-header has-tabs">
		<form ng-submit="change_password(changepwd)" name="formResetPassword">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">New Password</span>
					<input type="password" ng-model="changepwd.old_pwd" name="npassword" placeholder="new password" ng-Required="true" ng-minlength="3" ng-maxlength="30">
				</label>
				<p class="error" ng-show="(formResetPassword.npassword.$error.required || formResetPassword.npassword.$error.minlength) && !formResetPassword.npassword.$pristine">* Password required atleast 3 characters</p>
				<p class="error" ng-show="formResetPassword.npassword.$error.maxlength && !formResetPassword.npassword.$pristine">* New password cannot exceed 30 characters.</p>	

				<label class="item item-input item-stacked-label">
					<span class="input-label">Confirm Password</span>
					<input type="password" ng-model="changepwd.new_pwd" name="cpassword" placeholder="Confirm password" ng-Required="true" ng-minlength="3" ng-maxlength="30">
				</label>
				<p class="error" ng-show="(formResetPassword.cpassword.$error.required || formResetPassword.cpassword.$error.minlength) && !formResetPassword.cpassword.$pristine">* Password required atleast 3 characters</p>
				<p class="error" ng-show="formResetPassword.cpassword.$error.maxlength && !formResetPassword.cpassword.$pristine">* Confirm password cannot exceed 30 characters.</p>	
			</div>
			<div class="padding">
				<button name="change_password" class="button button-block button-positive" ng-disabled="formResetPassword.$invalid">Reset Password</button>
			</div>
		</form>
	</ion-content>
</ion-view>