<ion-view view-title="Chat" class="chatbar">
	
	<ion-nav-title class="chatbar">
		<p class="{{headerclass}}">{{username}}</p>
		<p class="jobtitle" ng-if="jobid > 0">{{job_title}}</p>
	</ion-nav-title>

	<ion-nav-buttons side="right"><img src=""></ion-nav-buttons>

	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-tabs has-footer has-footer-chat" style="bottom: 130px;">

		<ion-item ng-show="loadingchat">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<div class="chat-content-here">
			<ul class="container messages-chat-page " schrollBottom="oldmessages">
				<li class="message appeared {{message.class}}" ng-repeat="message in oldmessages" ng-if="historyFromId < message.id" ng-if="message.sender_id == message.my_id" >
					<div class="avatar">
						<img src="{{message.profile_picture}}">
					</div>
					<div class="text_wrapper">
						<div class="time-msg">{{message.timeinfo}}</div>
						<div class="text">{{ message.message }}</div>
					</div>
				</li>
			</ul>     
		</div>    
  </ion-content>
   <ion-footer-bar keyboard-attach class="item-input-inset bar-footer-chat">
	  <div class="bottom_wrapper">
		<form >
		  <div class="message_input_wrapper">
			<input type="text" placeholder="Type message..." autofocus="autofocus" class="message_input" ng-model="me.message" ng-enter="saveMessage()">
			<div class="send_message" ng-click="saveMessage()">
			  <div class="icon"></div>
			  <div class="text">Send</div>
			</div>
		  </div>
		</form>
	  </div>
  </ion-footer-bar>
</ion-view>