<ion-view view-title="My Chats" class="" >
		
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll  has-header has-tabs has-search-without-login">
		
		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
		</ion-refresher>

		<ion-item ng-show="loadingchats">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<ion-item ng-show="noresults" class="">
			<p>There are no chats yet.</p>
		</ion-item>

		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" class="listing-job" >
			<ion-item ng-repeat="message in messages" class="item-avatar item item-complex" on-finish-render="a"> 
				<a class="item-content" ng-click="goToChat(message)">
					<div class="thumb-cover">
						<div class="singal-thumb thumb-big-left"><img src="{{imgdomainurl}}{{message.profile_picture}}"></div>
					</div>
					<h4>{{ message.job_title }}</h4>
					<p>{{ message.first_name }} {{ message.last_name }}</p>
					<p class="ng-binding">{{ message.message }}</p>
					<p class="item-note chat-list">{{message.datenow}}</p>
				</a>

				<div class="icon-chat icon-chat-job" ng-show="message.count >0"><a ng-click='goToChat(message)'><div class="chat-counter">{{message.count}}</div></a></div>

			</ion-item>
		</ion-list>
  </ion-content>
</ion-view>

