<form name="loginConfirmForm">
		<label class="item item-input">
		<input type="email" ng-model="data.userPassword" placeholder="Enter Email" name="userfbemail"  ng-Required="true">
		</label>
		<p class="error ng-hide" ng-show="(loginConfirmForm.userfbemail.$error.required || loginConfirmForm.userfbemail.$error.email) && loginForm.userfbemail.$pristine">* Email is not valid</p>
	
		<label class="item item-input">
		<input type="email" ng-model="data.userCPassword"  placeholder="Confirm Email" ng-Required="true" name="userfbcemail">
		</label>
		<p class="error ng-hide" ng-show="(loginConfirmForm.userfbcemail.$error.required || loginConfirmForm.userfbcemail.$error.email) && loginForm.userfbcemail.$pristine">* Email is not valid</p>
	</div>
</form>