<ion-view view-title="Reset Password">
	<ion-content padding=true>
		<h4>Enter the code here:</h4>

		<p>Please check your email for the code.</p>

		<form ng-submit="Verifypwdcode(Verifypwdcode)" name="forgotFormPwd">
			<div class="list list-inset">
				<label class="item item-input">
				<input type="text" name="verifycode" placeholder="Enter the Code" id="verify_code" ng-model="Verifypwdcode.code" ng-Required="true">
				</label>
				<p  ng-show="forgotFormPwd.verifycode.$error.required && !forgotFormPwd.verifycode.$pristine">* Please enter the code</p>
			<button class="button button-block  button-positive" ng-disabled="forgotFormPwd.$invalid">Verify Code</button>
		</form>
	</ion-content>
</ion-view>
