<ion-modal-view class="login-bg">
	<ion-header-bar class="bar-stable">
	  <div class="title title-center header-item">Forgot Password</div>
	  <button class="button button-clear button-primary" color="danger" ng-click="closeModal()">Cancel</button>
	</ion-header-bar>
	<ion-content>
		<div class="logo-login">
			<img src="images/logo.png">
		</div>

		<form ng-submit="sendforgotpassword(forgot)" name="forgotPasswordForm" class="login-form padding">
			<div class="list">
				<label class="item item-input">
					<span class="input-label"><i data-pack="ios" class="ion-email"></i></span>
					<input type="email" ng-model="forgot.forgotemail"  name="forgotemail" ng-Required="true" placeholder="Please enter your email" />
					
				</label>
				<p class="ng-hide error" ng-show="(forgotPasswordForm.forgotemail.$error.required || forgotPasswordForm.forgotemail.$error.email) && !forgotPasswordForm.forgotemail.$pristine">* Email is not valid</p>

				<label class="item login-btn">
				<button class="button button-block button-positive app-button" type="submit" ng-disabled="loginForm.$invalid" ng-disabled="forgotPasswordForm.$invalid">Submit</button>
				</label>

			</div>
		</form>
	</ion-content>
</ion-modal-view>
