<ion-list>
	<ion-radio ng-model="billingtype" ng-repeat="jobtype in collections" ng-value="{{jobtype.value}}" ng-click="jobtypeselected(jobtype, $index)" ng-checked="$index == selectedindex">{{jobtype.name}}</ion-radio>
</ion-list>