<ion-modal-view>
	<ion-header-bar class="bar-stable">
	  <div class="title title-center header-item">Choose Job Category</div>
	  <button class="button button-clear button-primary" color="danger" ng-click="closeJobsCategoryModal()">Cancel</button>
	</ion-header-bar>
	<ion-content overflow-scroll="false">
		<ion-list>
			<ion-radio ng-model="jobcategory" ng-repeat="category in jobcategories" ng-value="{{category.id}}" ng-click="selectjobcategory(category)" ng-checked="selectedcatindex == {{category.id}}">{{category.name}}</ion-radio>
		</ion-list>
	</ion-content>
</ion-modal-view>