<ion-view view-title="Jobs History">
  
	<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light inner-tabs-jobs">
		<div class="tabs">
			<a class="tab-item {{appliedtab}}" ng-click="showJobHistory('applied')">Applied</a>
			<a class="tab-item {{hiredtab}}" ng-click="showJobHistory('hired')">Hired</a>
			<a class="tab-item {{completedtab}}" ng-click="showJobHistory('completed')">Completed</a>

			<a class="tab-item {{archivedtab}}" ng-click="showJobHistory('archived')">Archived</a>
		</div>
	</div>

	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-tabs has-tabs-top">
  
		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<div ng-show="appliedjobsdiv">
			
			<ion-item ng-show="noresulsapplied" class=""><p>There are no records found.</p></ion-item>

			<ion-list  show-delete="false" show-reorder="false" can-swipe="true" class="listing-job">
				<ion-item ng-repeat="item in appliedarray" class="item-thumbnail-left" ng-click='goApplied({{item}})'>
					<div class="item-detail"  PId='{{item.id}}'>
						<div class="item-img-left"><img ng-src="{{ item.image }}"></div>
						<h2>{{item.job_title}}</h2>
						<p>{{item.address}}</p>
						<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
					</div>
					<!-- <div class="icon-chat"><a href=""><div class="chat-counter">23</div></a></div> -->
					<ion-option-button class="button-dark button-option-icon" ng-click="archiveJob(item, $index)"><i class="icon ion-ios-box"></i> Archive</ion-option-button>
					<ion-option-button class="button-assertive button-option-icon" ng-click="removeJob(item)"><i class="icon ion-trash-a"></i> Remove</ion-option-button>
				</ion-item>
			</ion-list>
		</div>
		
		<div ng-show="completedjobsdiv">
			
			<ion-item ng-show="noresulscompleted" class=""><p>There are no records found.</p></ion-item>

			<ion-list  show-delete="false" show-reorder="false" can-swipe="true" class="listing-job">
				<ion-item ng-repeat="item in completedarray" class="item-thumbnail-left"  ng-click='goApplied({{item}})'>
					<div class="item-detail" PId='{{item.id}}'>
						<div class="item-img-left"><img ng-src="{{ item.image }}"></div>
						<h2>{{item.job_title}}</h2>
						<p>{{item.address}}</p>
						<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
					</div>
					<!-- <div class="icon-chat"><a href=""><div class="chat-counter">23</div></a></div> -->
					<ion-option-button class="button-dark button-option-icon" ng-click="archiveJob(item, $index)"><i class="icon ion-ios-box"></i> Archive</ion-option-button>
				</ion-item>
			</ion-list>
		</div>
		
		<div ng-show="archivedjobsdiv">
			
			<ion-item ng-show="noresulsarchived" class=""><p>There are no records found.</p></ion-item>

			<ion-list  show-delete="false" show-reorder="false" can-swipe="true" class="listing-job">
				<ion-item ng-repeat="item in archivedarray" class="item-thumbnail-left"  ng-click='goApplied({{item}})' >
					<div class="item-detail" PId='{{item.id}}'>
						<div class="item-img-left"><img ng-src="{{ item.image }}"></div>
						<h2>{{item.job_title}}</h2>
						<p>{{item.address}}</p>
						<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
					</div>
					<!-- <div class="icon-chat"><a href=""><div class="chat-counter">23</div></a></div> -->
					<ion-option-button class="button-dark button-option-icon" ng-click="unarchiveJob(item, $index)"><i class="icon ion-ios-box"></i> Un-Archive</ion-option-button>
				</ion-item>
			</ion-list>
		</div>


		<div ng-show="hiredjobsdiv">
			
			<ion-item ng-show="noresulshired" class=""><p>There are no records found.</p></ion-item>

			<ion-list  show-delete="false" show-reorder="false" can-swipe="false" class="listing-job">
				<ion-item ng-repeat="item in hiredarray" class="item-thumbnail-left" ng-click='goApplied({{item}})' >
					<div class="item-detail" PId='{{item.id}}'>
						<div class="item-img-left"><img ng-src="{{ item.image }}"></div>
						<h2>{{item.job_title}}</h2>
						<p>{{item.address}}</p>
						<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
					</div>
					<!-- <div class="icon-chat"><a href=""><div class="chat-counter">23</div></a></div> -->
					<ion-option-button class="button-dark button-option-icon" ng-click="archiveJob(item, $index)"><i class="icon ion-ios-box"></i> Archive</ion-option-button>
				</ion-item>
			</ion-list>
		</div>

	</ion-content>
</ion-view>

