<ion-view view-title="All Jobs">
	
	<ion-content overflow-scroll="false" class="ionic-scroll scroll-content has-header {{contentclass}}">

		<div class="search-home search-home-alljobs">
			
				<div class="col col-67">
					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
						<input id="search_job" type="text" placeholder="Search" ng-change='SearchJobChange(search_seeker, category)' ng-model='search_seeker' ng-disabled="!editSearch" >
					</label>
				</div>
				<div class="col col-33">
		
					 <label class = "item item-select" >
					  <select ng-model="category" placeholder="Select" ng-change='SearchJobChange(search_seeker, category)'>
						 <option value="0" selected>All Categories</option>
						 <option ng-repeat="category in jobcategories" value="{{category.id}}">{{category.name}}</option>
						 
					  </select>
				   </label>

				</div>
			
		</div>

		
		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
		</ion-refresher>

		
		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<ion-item ng-show="noresults" class="">
			<p>There are no results found</p>
		</ion-item>

		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="shouldListSwipe" class="listing-job">
			<ion-item ng-repeat="item in items"
			class="item-thumbnail-left" ng-click='goJob({{item}})'>
				<div class="item-detail">
					<div >
						<div class="item-img-left"><img ng-src="{{ item.image }}"></div>
						<!--  <h2>{{item.name}}</h2> -->
						<p class="job-list-title">{{item.job_title}}</p>
						<p class="job-list-desc">{{item.category.name}}</p>
						<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
					</div>
					<ion-option-button class="button-dark button-option-icon " ng-click="archiveJob(item, $index)"><i class="icon ion-ios-box"></i> Archive</ion-option-button>
				</div>
			</ion-item>
		</ion-list>
	
  </ion-content>
</ion-view>
