<ion-view view-title="View Job" hide-nav-bar="false">
	
	<ion-nav-title class="chatbar">{{job_title}}</ion-nav-title>

  	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header {{contentclass}}">

	    <ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<div class="story-header" style="background: url('{{image}}') no-repeat center top;background-size:contain;">
			<div class="story-title">
			{{job_title}}<br><p>( {{catgoryname}} )</p></div>
		</div>

		<div class="story-comments">
			<div class="messages">
				<div class="message-name">
					<div class="comment-name"><i class="ion-ios-location" data-pack="ios" data-tags="navigation, map, gps, pin"></i>&nbsp; {{address}}</div>
					<div class="user-img-job-outer">
						<div class="user-img-job">
							<img src="{{ownerimage}}" width="100%" alt="no-image">
						</div>
						<p ng-click="viewOwnerProfile()"> {{owner_fname}}&nbsp;{{owner_lname}}</p>
					</div>
				</div>
			</div>

			<div class="story-info">
				<div class="date-task">
					<i aria-hidden="true" class="ion-android-calendar" data-pack="android" data-tags="clock"></i>&nbsp;{{start_date | date:"dd/MM/yyyy"}} <strong>-</strong> {{end_date | date:"dd/MM/yyyy"}}
				</div>
				<div class="time-task">
					<i aria-hidden="true" class="ion-android-time" data-pack="android" data-tags="clock"></i>&nbsp;{{start_time}} <strong>-</strong> {{end_time}}
				</div>
				<div class="row">
					<div class="col col-50"><i class="icon ion-ribbon-b"></i> {{job_type | ucfirst}}  {{cost}}</div>
					<div class="col col-25 ng-hide" ng-show="awardedapplied"><strong>Paid:</strong> kr {{paidamount}}</div>
					<div class="col col-25 ng-hide" ng-show="awardedapplied"><strong>Due:</strong> kr {{dueamount}}</div>
				</div>
			</div>	

				<div class="desc-job-single">
					<div class="row">
						<div class="col col-70"><h4>Details</h4></div>
						<div class="col-30"><button class="ng-hide button button-balanced button-small">Pay Now</button></div>
					</div>
					
					<div class="message-text">
						{{description}}
					</div>
					<br>
					
					<div class="ng-hide" ng-show="canapply">
						<button class="button button-full ng-hide button-positive button-small" ng-click="ApplyJob()" ng-show="appliedstatus" >
							Apply
						</button>
						
						<button class="button button-full ng-hide {{appliedbuttonclass}} button-small" ng-show="alreayapplied">
							{{appliedbuttontext}}
						</button>
					</div>
				</div>				
			</div>   
		</div>

	</ion-content>

</ion-view>
