<ion-view view-title="Log In" hide-nav-bar="true" class="login-bg">
	
	<ion-content class="" overflow-scroll="false">
	
	<button ng-click="$ionicGoBack()" class="button  button-clear header-item" style="color:#fff"><i class="icon ion-ios-arrow-left"></i> Back</button>

	<div class="logo-login">
		<img src="images/logo.png">
	</div>

	<form ng-submit="LogIn(login)" name="loginForm" class="login-form padding">
		<div class="list">
			<label class="item item-input">
				<span class="input-label"><i data-pack="ios" class="ion-person"></i></span>
				<input type="email" ng-model="login.email" placeholder="USERNAME" ng-Required="true" name="emaillogin"  ng-trim="true">
			</label>
			<p class="error ng-hide" ng-show="(loginForm.emaillogin.$error.required || loginForm.emaillogin.$error.email) && !loginForm.emaillogin.$pristine">* Email is not valid</p>

			<label class="item item-input">
				<span class="input-label"><i data-pack="ios" class="ion-locked"></i></span>
				<input type="password" placeholder="PASSWORD" ng-model="login.password" ng-Required="true" name="passwordlogin" ng-minlength="3" ng-maxlength="30" ng-trim="false">
			</label>
			<p class="error ng-hide" ng-show="(loginForm.passwordlogin.$error.required || loginForm.passwordlogin.$error.minlength) && !loginForm.passwordlogin.$pristine">* Password required atleast 3 characters</p>
			<p class="error ng-hide" ng-show="loginForm.passwordlogin.$error.maxlength && !loginForm.passwordlogin.$pristine">* Password cannot exceed 20 characters.</p>

			<label class="item login-btn">
			<button class="button button-block button-positive app-button" type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
			</label>

			<a class="btn btn-block btn-social btn-facebook button button-full" ng-click="fbLogin()">
				<span class="fa ion-social-facebook" style="padding-top:6px"></span> Sign in with Facebook
			</a>

		</div>

		<div class="forgot-signup-link">
			<div class="row">
				<div class="col-50">
					<a class="" ng-click="forgotpwd()">Forgot password?</a>
				</div>
				<div class="col-50" style="text-align:right;">
					<a ui-sref='app.signup' ng-click="signup()">New here?Sign up</a>
				</div>
			</div>  
		</div>

	</form>


  </ion-content>
</ion-view>



