<ion-view view-title="{appname}">

    <ion-nav-title class="mapheader">
        <div ng-show="!hasFilters"><span class="chatbar nav-bar-title ng-binding">{{appname}}</span></div>
		 <div class="" ng-if="hasFilters">
            <div class="item-input-wrapper textbox-search">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search Jobs" ng-model="ngModel.txt" ng-change="searchJobs(ngModel.txt)">
            </div>
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <!-- <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="openFilters(hasFilters);" ng-class="{'ion-ios-search':!hasFilters,'ion-close-circled':hasFilters}"></a> -->

		<a data-tap-disabled="true" class=" button button-icon icon positive ion-ios-search" ng-click="showSearchBar()"></a>

    </ion-nav-buttons>

	<div class="tabs-striped tabs-top tabs-color-light inner-tabs-jobs">
	
	    <div class="tabs tabs-icon-left">
		      <a class="tab-item active" ui-sref="app.map">
		        <!-- <i class="icon ion-map"></i> -->
		        MapView
		      </a>
		      <a class="tab-item" ui-sref="app.jobs">
		        <!-- <i class="icon ion-drag"></i> -->
		        ListView
		      </a>
		      
		</div>
	</div>

	<!-- has-tabs has-footer -->

	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-tabs-top {{contentclass}}" id="search-div">
		
		
		<div class="search-home search-home-alljobs ng-hide" ng-show="showsearchmap">
			<div class="col col-67">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input id="search_job" type="text" placeholder="Search" ng-change='searchJobsNew(search_seeker, category)' ng-model='search_seeker' >
				</label>
			</div>
			<div class="col col-33">
	
				 <label class = "item item-select" >
				  <select ng-model="category" placeholder="Select" ng-change='searchJobsNew(search_seeker, category)'>
					 <option value="0" selected>All Categories</option>
					 <option ng-repeat="category in jobcategories" value="{{category.id}}">{{category.name}}</option>
					 
				  </select>
			   </label>

			</div>
		</div>	
			
		
		
		<ion-refresher pulling-text="Update Date" on-refresh="doRefresh()"></ion-refresher>
		 <div id="map" style="width: 100%; height: 285px;" data-tap-disabled="true"></div>
		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<ion-item ng-show="noresults" class="ng-hide">
			<p>There are no records found.</p>
		</ion-item>

		<ion-list class="listing-job">

			<ion-item ng-repeat="item in items"
			class="item-thumbnail-left">
				<div class="item-detail" ng-click='goJob({{item}})' PId='{{item.id}}'>
					<div class="item-img-left"><img ng-src="{{ item.image }}"></div>
					<!--  <h2>{{item.name}}</h2> -->
					<p data-link="#/app/job/{{jobId}}"  class="job-list-title">{{item.job_title}}</p>
					<p class="job-list-desc">{{item.category.name}}</p>
					<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
				</div>

			</ion-item>
		</ion-list>
		<!-- <div style="padding:15px;">
			
			<div class="bottom-button-home">
				<button class="button button-block  button-positive" ng-click="goSeeker()">
					Get Started
				</button>
			</div>
		</div> -->
	</ion-content>
</ion-view>