<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content drag-content="false">
		<ion-nav-bar class="bar-stable" align-title="center">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left"><button class="button button-icon button-clear ion-navicon ng-hide" menu-toggle="left" ng-show="showmenubutton"></button><button class="button button-clear button-small ng-hide loginbutton" ng-click="gotoLogin()" ng-show="showloginicon"><i class="icon ion-android-person"></i> Login</button></ion-nav-buttons>
			<ion-nav-buttons side="right"></ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>

		<div class="tabs tabs-icon-top" ng-show="bottomtabs">
			<a class="tab-item" ng-class="{'tab-item-active': navactive == 'map'}" ng-click="gotoView('app.map')" >
				<i class="icon ion-ios-search"></i>Search
			</a>

			<a class="tab-item" ng-class="{'tab-item-active': navactive == 'createjob'}" ng-click="gotoView('app.createjob')">
				<i class="icon ion-ios-compose-outline"></i> Create Job
			</a>

			<a class="tab-item" ng-class="{'tab-item-active': navactive == 'alljobs'}" ng-click="gotoView('app.jobs')">
				<i class="icon ion-ios-briefcase-outline"></i>All Jobs
			</a>

			<a class="tab-item" ng-class="{'tab-item-active': navactive == 'myjobs'}" ng-click="gotoView('app.appliedjobs')" ng-show="isjobseeker">
				<i class="icon ion-ios-heart-outline"></i>My Jobs
			</a>

			<a class="tab-item" ng-class="{'tab-item-active': navactive == 'myposts'}" ng-click="gotoView('app.myjobs')">
				<i class="icon ion-ios-list-outline" ></i>My Posts
			</a>
		</div>

	</ion-side-menu-content>

	<ion-side-menu side="left" enable-menu-with-back-views="true" class="leftmenu-sidebar">
		<ion-header-bar class="bar-stable" align-title="center">
			<div class="title">{{appname}}</div>
		</ion-header-bar>
		<ion-content>
			<ion-list>

				<ion-item ng-click="gotoView('app.map')" menu-close><i class="icon ion-home"></i> Home</ion-item>

				<ion-item ng-click="gotoView('app.accounts')" menu-close><i class="icon ion-gear-b"></i> Accounts</ion-item>

				<ion-item ng-click="gotoView('app.seeker')"  menu-close><i class="icon ion-ios-people"></i> Find JobSeekers</ion-item>

				<ion-item ng-click="gotoView('app.jobhistory')" ng-show="isjobseeker" menu-close><i class="icon ion-university"> </i>Job History</ion-item>

				<ion-item ng-click="gotoView('app.chatlist')" menu-close><i class="icon ion-chatbox"></i> My Chats</ion-item>
				 
				<ion-item ng-click="gotoView('app.transactionhistory')" menu-close><i class="icon ion-cash"></i> Transaction History</ion-item>
				
				<ion-item  ng-click="termlink()" menu-close ><i class="icon ion-ios-navigate-outline"></i> Terms Policy</ion-item>

				<ion-item  ng-click="privacylink()" menu-close ><i class="icon ion-ios-locked"></i> Privacy Policy</ion-item>

				<ion-item  ng-click='logout()' menu-close ><i class="icon ion-android-exit"></i> Sign-out</ion-item>

			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>

