<ion-modal-view>
	<ion-header-bar class="bar-stable">
	  <div class="title title-center header-item">Choose Job</div>
	  <button class="button button-clear button-primary" color="danger" ng-click="closeJobsModal()">Cancel</button>
	</ion-header-bar>
	<ion-content overflow-scroll="false">
		<ion-list  can-swipe="false" class="listing-job">
			<ion-item ng-repeat="item in jobs" class="item-thumbnail-left">
				<div class="item-detail">
					<div class="item-img-left"><img ng-src="{{item.image}}"></div>
					<p data-link="#/app/myposts/{{jobId}}" ng-click='hireJobNow(item)' class="job-list-title">{{item.job_title}}</p>
					<p class="job-list-desc">{{item.category.name}}</p>
					<span class="badge"><button class="button button-balanced button-small" ng-click="hireJobNow(item, $index)">Hire Now</button></span>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>
