<ion-view view-title="My Jobs">
  
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-tabs myposts">

		<div class="list list-inset search-home">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-change='SearchAppliedChange(search_seeker)' ng-model='search_seeker' >
			</label>
		</div>

		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		
		<ion-item ng-show="noresults" class="">
			<p>{{noresultsmessage}}</p>
		</ion-item>

		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" class="listing-job">
			<ion-item ng-repeat="item in items" class="item-thumbnail-left {{item.jobstatus}}" ng-click='goSeeJob({{item}})'>
				<div class="item-detail" >
					<div class="item-img-left"><img ng-src="{{item.image}}" ></div>
					<p data-link="#/app/myposts/{{jobId}}"  class="job-list-title">{{item.job_title}}</p>
					<p class="job-list-desc">{{item.category.name}}</p>
					<p class="status">{{item.jobstatusstr}}</p>
					<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>
				</div>
				
				<ion-option-button class="button-assertive button-option-icon" ng-if="item.removejob" ng-click="removeJob(item, $index)"><i class="icon ion-trash-a"></i> Remove</ion-option-button>

				<ion-option-button class="button-dark button-option-icon" ng-click="archiveJob(item, $index)"><i class="icon ion-ios-box"></i> Archive</ion-option-button>

			</ion-item>
		</ion-list>
    
	</ion-content>

</ion-view>
  