<ion-view view-title="View Post">

	<ion-nav-title class="chatbar">{{job_title}}</ion-nav-title>

	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-edit" ng-click="UpdateProfile()" ng-show="jobedit">
		</button>
	</ion-nav-buttons>

	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-tabs">
		<div class="story-header" style="background: url('{{image}}') no-repeat center top;background-size:contain;">
			<div class="story-title">
			{{job_title}}<br><p>( {{catgoryname}} )</p></div>

		</div>


		<div class="story-comments">
			<div class="messages">
				<div class="message-name">
					<div class="comment-name"><i class="ion-ios-location" data-pack="ios" data-tags="navigation, map, gps, pin"></i>&nbsp; {{address}}</div>
					<div class="user-img-job-outer">
						<div class="user-img-job">
							<img src="{{ownerimage}}" width="100%" alt="no-image">
						</div>
						<p ng-click="viewOwnerProfile()"> {{owner_fname}}&nbsp;{{owner_lname}}</p>
					</div>
				</div>
			</div>
			<div class="story-info">
				<div class="date-task">
					<i aria-hidden="true" class="ion-android-calendar" data-pack="android" data-tags="clock"></i>&nbsp;{{start_date | date:"dd/MM/yyyy"}} <strong>-</strong> {{end_date | date:"dd/MM/yyyy"}}
				</div>
				<div class="time-task">
					<i aria-hidden="true" class="ion-android-time" data-pack="android" data-tags="clock"></i>&nbsp;{{start_time}} <strong>-</strong> {{end_time}}
				</div>
				<div class="row">
					<div class="col col-50"><i class="icon ion-ribbon-b"></i> {{job_type | ucfirst}}  {{cost}}</div>
					<div class="col col-25"><strong>Paid:</strong> kr {{paidamount}}</div>
					<div class="col col-25"><strong>Due:</strong> kr {{dueamount}}</div>
				</div>
			</div>	
				<div class="desc-job-single">
					<div class="row">
						<div class="col col-70"><h4>Details</h4></div>
						<div class="col-30"><button class="ng-hide button button-balanced button-small" ng-show="showpaynow" ng-click="payNow()">Pay Now</button></div>
					</div>
					
					<div class="message-text">
						{{description}}
					</div>
				</div>				
			</div>   
		</div>


		<center><h4>Applicants</h4></center><br/>
		<ion-item ng-show="loadingTrackers">
		<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<ion-item ng-show="noaplicant" class="">
			<p>There are no applicants.</p>
		</ion-item>

		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" class="listing-job" ng-show="showapplicant">
			<ion-item ng-repeat="seeker in seekers" class="item-thumbnail-left" on-finish-render="a">
				<div class="item-detail" ng-click='viewprofile({{seeker}})' PId='{{seeker.id}}'>
					<div class="item-img-left"><img ng-src="{{seeker.user.profile_picture }}" /></div>
					<p data-link="#/app/job/{{profileid}}">{{seeker.user.first_name}}&nbsp;{{seeker.user.last_name}}</p>
					<p>{{seeker.status}}</p>
					<p>Applied on {{seeker.date_applied | date:"dd/MM/yyyy"}}</p>
					<span class="badge">kr {{seeker.user.price}} /hr</span>
				</div>
				<div class="icon-chat" ng-if="seeker.count >0"><a ng-click="goChat(seeker)"><div class="chat-counter">{{seeker.count}}</div></a></div>   
				
				<ion-option-button class="button-positive button-option-icon" ng-if="seeker.hirebutton" ng-click="hire(seeker)"><i class="icon ion-ios-briefcase"></i> Hire</ion-option-button>

				<ion-option-button class="button-assertive button-option-icon" ng-if="seeker.endbutton" ng-click="endjob(seeker)"><i class="icon ion-power"></i> End</ion-option-button>

				<ion-option-button class="button-energized button-option-icon" ng-click="goChat(seeker)"><i class="icon ion-android-chat"></i> Chat</ion-option-button>
			</ion-item>
		</ion-list>

	</div>
  </ion-content>
</ion-view>