<ion-view view-title="My Posts">
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-tabs myposts" on-scroll="getScrollPosition()">
		
		<a class="item item-icon-left" href="#" ng-show="archivedLists">
		<i class="icon ion-ios-box"></i>
		Archived Jobs
		<span class="badge badge-assertive">0</span>
		</a>
	

		<div class="list list-inset search-home" style="top:0px;">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-change='SearchMyJobChange(search_myjob)' ng-model='search_myjob' ng-disabled="!editSearchMyPosts" >
			</label>
		</div>

		<!-- <ion-refresher
		on-refresh="doRefresh()">
		</ion-refresher> -->	

		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>
		
		<ion-item ng-show="noresults" class="">
			<p>There are no jobs found.</p>
		</ion-item>

		<ion-list show-delete="false" show-reorder="false" can-swipe="listCanSwipe" class="listing-job" >
			<ion-item ng-repeat="item in items" class="item-thumbnail-left {{item.jobstatus}} " on-finish-render="a" ng-click='goSeeApplicant(item)'>
				<div class="item-detail"  PId='{{item.id}}'>
					<div class="item-img-left"><img ng-src="{{item.image}}" /></div>
					<p data-link="#/app/job/{{jobId}}" class="job-list-title">{{item.job_title}}</p>
					<p>{{item.category.name}}</p>
					<p class="status">{{item.jobstatusstr}}</p>
					<p class="job-list-time"><i class="ion-android-calendar"></i>&nbsp;{{item.start_date | date:"dd/MM/yyyy"}} to {{item.end_date | date:"dd/MM/yyyy"}}</p>

				</div>
				<div class="icon-chat icon-chat-job" ng-show="item.count >0"><a ng-click='goSeeApplicant({{item}})'><div class="chat-counter">{{item.count}}</div></a></div>

				<ion-option-button class="button-assertive button-option-icon" ng-show="{{item.showremove}}" ng-click="remove_job(item, $index)"><i class="icon ion-trash-a"></i> Remove</ion-option-button>
				<ion-option-button class="button-positive button-option-icon" ng-click="edit_job(item)" ng-show="{{item.showedit}}"><i class="icon ion-edit"></i> Edit</ion-option-button>

			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
