<ion-view view-title="No Connectivity">
	<ion-nav-buttons side="left"></ion-nav-buttons>
	<ion-header-bar class="bar-stable">
	  <div class="title title-center header-item">No Connectivity</div>
	</ion-header-bar>
	<ion-content scroll="false">
		<div class="logo-login">
			<img src="images/logo.png">
		</div>

		<center><h4>Hundelufteren</h4></center>
		
		<div class="padding">
			
			<div class="padding">
				<center>
				<p>Sorry, no Internet connectivity detected. Please reconnect and try again.</p></center>
			</div>
		</div>
	</ion-content>
</ion-view>
