<ion-view view-title="Make Payment">
	<ion-content class="scroll-content ionic-scroll  has-header has-tabs">
		<ion-item>
		<center><strong>{{job.job_title}}</strong></center>
		</ion-item>

		<ion-item>
		Due Amount: kr {{amount}}</strong>
		</ion-item>

		<ion-item>
		Name: {{userdetails.first_name}} {{userdetails.lastname}}</strong>
		</ion-item>


		<label class="item item-input item-stacked-label">
			<span class="input-label">Pay Amount (kr) <em>*</em></span>
			<input type="number" placeholder="Danish Krone" name="amount_1" ng-model="job.amount_due" ng-change="calculateCommission(job.amount_due)">
		</label>

		<label class="item item-input item-stacked-label" ng-show="comissionshow">
			<span class="input-label">Commission {{commissionrate}}% of {{job.amount_due}} = {{commissionamt}} (kr)</span>
		</label>

		<label class="item item-input item-stacked-label" ng-show="mincomission">
			<span class="input-label">Commission  = {{commissionamt}} (kr)</span>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Total Amount = {{totalamt}} (kr)</span>
		</label>

		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner> <p>Please wait...</p>
		</ion-item>

		<ion-item ng-show="paynow">
		<button class="button button-block button-balanced" name="upload" ng-click = "openBrowser(job)" >Pay Now</button></ion-item>

   
	</ion-content>
</ion-view>
     
    

