<ion-view view-title="Payment Details">
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll  has-header has-tabs">
		
		<ion-item ng-show="loadingPaymentDetails">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<div ng-show="paymentform">
			<label class="item item-input item-select" ng-show="showpayment">
				<span class="input-label">
				Pay Via <em>*</em>
				</span>
			
				<input type="text"  ng-model='pay.type_txt' ng-Required="true" ng-click="paytype()" readonly style="background-color:#fff;text-align:right;padding-right:50px;">

			</label>
		
			<div class="list">
				<div ng-show="bankdata">
					<form ng-submit="addpayment_details(pay, 'bank')" name="formBankPayment">
						<label class="item item-input item-stacked-label">
							<span class="input-label">Beneficiary Name <em>*</em></span>
							<input type="text" ng-model="pay.name" ng-Required="true" name="personname">
							<p class="error" ng-show="formBankPayment.personname.$error.required && !formBankPayment.personname.$pristine">* Beneficiary name is required</p>
						</label>

						<label class="item item-input item-stacked-label ">
							<span class="input-label">Beneficiary Address <em>*</em></span>
							<input ng-model="pay.benaddress" type="text" ng-Required="true" name="benaddress"> 
							<p class="error" ng-show="formBankPayment.benaddress.$error.required && !formBankPayment.benaddress.$pristine">* Beneficiary address is required</p>
						</label>

						<label class="item item-input item-stacked-label ">
							<span class="input-label">Bank Name <em>*</em></span>
							<input ng-model="pay.bankname" type="text" ng-Required="true" name="bankname"> 
							<p class="error" ng-show="formBankPayment.bankname.$error.required && !formBankPayment.bankname.$pristine">* Beneficiary name is required</p>
						</label>

						<label class="item item-input item-stacked-label ">
							<span class="input-label">Bank Location <em>*</em></span>
							<input ng-model="pay.banklocation" type="text" ng-Required="true" name="bankaddress"> 
							<p class="error" ng-show="formBankPayment.bankaddress.$error.required && !formBankPayment.bankaddress.$pristine">* Beneficiary Address is required</p>
						</label>

						<label class="item item-input item-stacked-label ">
							<span class="input-label">Bank IBAN/Account number <em>*</em></span>
							<input ng-model="pay.bankaccount" type="text" ng-Required="true" name="bankaccount"> 
							<p class="error" ng-show="formBankPayment.bankaccount.$error.required && !formBankPayment.bankaccount.$pristine">* Beneficiary Address is required</p>
						</label>

						<label class="item item-input item-stacked-label ">
							<span class="input-label">Bank swift code/ IFSC code <em>*</em></span>
							<input ng-model="pay.ifsccode" type="text" ng-Required="true" name="bankifsc"> 
							<p class="error" ng-show="formBankPayment.bankifsc.$error.required && !formBankPayment.bankifsc.$pristine">* Beneficiary Address is required</p>
						</label>

						<label class="item item-input item-stacked-label ">
							<span class="input-label">Bank routing number(For US bank)</span>
							<input ng-model="pay.routingno" type="text"> 
						</label>

						<div class="padding"><button name="job_submit" class="button button-block button-positive" ng-disabled="formBankPayment.$invalid">
						Submit
						</button>
						<input type="hidden" name="paypal" ng-model="pay.type" value="paypal" />
						</div>

					</form>
					
				</div>
				<div ng-show="paypaldata">
					<form ng-submit="addpayment_details(pay, 'paypal')" name="formPaypalPayment">
						<label class="item item-input item-stacked-label ">
							<span class="input-label">Paypal Email <em>*</em></span>
							<input ng-model="pay.paypalemail" type="email" value="" name="paypalemail" ng-Required="true"> 
						</label>
						<p class="error" ng-show="(formPaypalPayment.paypalemail.$error.required || formPaypalPayment.paypalemail.$error.email) && !formPaypalPayment.paypalemail.$pristine">&nbsp;&nbsp;* Email is not valid</p>
						<div class="padding">
							<button name="job_submit" class="button button-block button-positive" ng-disabled="formPaypalPayment.$invalid">Submit</button>
						
							
						</div>
					</form>
				</div> 
			</div>

	</ion-content>
</ion-view>