<ion-view view-title="Feedback">

	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll  has-header has-tabs">
		<form ng-submit="givefeedback(feed)" name="feedbackForm">
	
			<div class="padding">
				<ionic-ratings ratingsobj='ratingsObject' ng-model="feed.ratings"></ionic-ratings>
			</div>

			<label class="item item-input item-floating-label">
				<span class="input-label">Feedback</span>
				<input ng-model="feed.feedback" type="text" placeholder="Feedback" ng-Required="true" name="feedback">
				<p class="error" ng-show="feedbackForm.feedback.$error.required && !feedbackForm.feedback.$pristine">* Job title is required</p>
			</label>

			<div class="padding">
				<button class="button button-block button-positive" ng-disabled="feedbackForm.$invalid">Submit</button>
			</div>
		</form>
	</ion-content>
</ion-view>
