<ion-view view-title="Job Seekers">
	
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll  has-header has-tabs">

		<div class="list list-inset search-home">
			<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input  type="text" ng-change='SearchSeekerChange(search_seeker)' ng-model='search_seeker' placeholder="Search">
			</label>
		</div>

		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<ion-item ng-show="noresults" class="">There are no records found.</ion-item>

		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="true" class="listing-job">
			<ion-item ng-repeat="seeker in items track by $index" class="item-thumbnail-left" ng-click='viewProfile({{seeker.id}})'>
					<div class="item-img-left"><img ng-src="{{seeker.profile_picture}}" ng-click='viewProfile({{seeker.id}})'></div>
					<p ng-click='viewProfile({{seeker.id}})' PId='{{seeker.id}}'>{{seeker.first_name}}&nbsp;{{seeker.last_name}}</p>
					<p><i class="icon ion-location" ng-show="{{seeker.address != '' }}"></i>&nbsp;{{seeker.address}}</p>

					<span class="badge">kr {{seeker.price}} /hr</span>
					
					<ion-option-button class="button-energized button-option-icon" ng-click="chatnow(seeker)"><i class="icon ion-android-chat"></i> Chat</ion-option-button>
					<ion-option-button class="button-balanced button-option-icon" ng-click="hirenow(seeker)"><i class="icon ion-ios-briefcase"></i> Hire</ion-option-button>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
