<ion-view view-title="Signup">



	<ion-content  class="" overflow-scroll="false">

		<div class="create-account-image-signup" ng-click = "openPopover()">
			<div class="image-outer">
				<img src="{{image}}" name="image" width="100%">	
				<i class="ion-minus-circled" ng-click = "removeImage()" ng-show="deleteimage"></i>
			</div>
		</div>

		
		<div class="field-signup signup-form padding">
			<form ng-submit="SignUp(signup)" name="signupForm">
				<div class="list">
					<label class="item item-input">
						<span class="input-label"><i data-pack="ios" class="ion-person"></i> <em>*</em></span>
						<input type="text" placeholder="John" ng-model="signup.firstname" ng-Required="true" name="firstname" ng-minlength="3" ng-maxlength="30">
					</label>
					<p class="error ng-hide" ng-show="(signupForm.firstname.$error.required || signupForm.firstname.$error.minlength) && !signupForm.firstname.$pristine">* Firstname required atleast 3 characters</p>
					<p class="error ng-hide" ng-show="signupForm.firstname.$error.maxlength && !signupForm.firstname.$pristine">* Firstname cannot exceed 30 characters.</p>	

					<label class="item item-input">
						<span class="input-label"><i data-pack="ios" class="ion-person"></i> <em>*</em></span>
						<input type="text" placeholder="Suhr" ng-model="signup.lastname" ng-Required="true" ng-minlength="3" ng-maxlength="30" name="lastname">				
					</label>
					<p class="error ng-hide" ng-show="(signupForm.lastname.$error.required || signupForm.lastname.$error.minlength) && !signupForm.lastname.$pristine">* Lastname required atleast 3 characters</p>
					<p class="error ng-hide" ng-show="signupForm.lastname.$error.maxlength && !signupForm.lastname.$pristine">* Lastname cannot exceed 30 characters.</p>	
				
					<label class="item item-input">
						<span class="input-label"><i data-pack="ios" class="ion-email"></i> <em>*</em></span>
						<input type="email" placeholder="john@suhr.com" ng-model="signup.email" ng-Required="true" name="email">
					</label>
					<p class="error ng-hide" ng-show="(signupForm.email.$error.required || signupForm.email.$error.email) && !signupForm.email.$pristine">* Email is not valid</p>
				
					<label class="item item-input">
						<span class="input-label"><i data-pack="ios" class="ion-ios-telephone"></i> <em>*</em></span>
						<input id="contact" type="number" placeholder="Phone Number" ng-model="signup.contact" ng-Required="true">
					</label>
					<p class="error ng-hide" ng-show="signupForm.contact.$error.required && !signupForm.contact.$pristine">* Phone number is required.</p>



					<label class="item item-input">
						<span class="input-label"><i data-pack="ios" class="ion-locked"></i> <em>*</em></span>
						<input id="password" type="password" ng-model="signup.password" Placeholder="password" ng-Required="true" name="password" ng-minlength="3" ng-maxlength="30">
						
					</label>
					<p class="error ng-hide" ng-show="(signupForm.password.$error.required || signupForm.password.$error.minlength) && !signupForm.password.$pristine">* Password required atleast 3 characters</p>
					<p class="error ng-hide" ng-show="signupForm.password.$error.maxlength && !signupForm.password.$pristine">* Password cannot exceed 30 characters.</p>	

					<label class="item item-input">
						<span class="input-label"><i data-pack="ios" class="ion-locked"></i> <em>*</em></span>
						<input id="cpassword" type="password" ng-model="signup.cpassword" Placeholder="Confirm password" ng-Required="true" name="cpassword" ng-minlength="3" ng-maxlength="30">
						
					</label>
					<p class="error ng-hide" ng-show="(signupForm.cpassword.$error.required || signupForm.cpassword.$error.minlength) && !signupForm.cpassword.$pristine">* Password required atleast 3 characters</p>
					<p class="error ng-hide" ng-show="signupForm.cpassword.$error.maxlength && !signupForm.cpassword.$pristine">* Password cannot exceed 30 characters.</p>	

					<ion-checkbox ng-model="signup.baaSelected" ng-change='handleClick(signup)' value="1">Also I want to be a Job seeker.</ion-checkbox>
			
					<label class="item item-input ng-hide" ng-show="jobseeker">
						<span class="input-label"><i data-pack="ios" class="ion-cash"></i> <em>*</em></span>
						<input type="number" placeholder="Rate per hour(in kr)" name="price" ng-model="signup.user_price" ng-required="signup.baaSelected">
					</label>
					<p class="error ng-hide" ng-show="signupForm.price.$error.required && !signupForm.price.$pristine">* Price is required.</p>
					

					<div class="" style="">
						<button class="button button-full app-button button-positive" ng-disabled="signupForm.$invalid">Sign up</button>           
					</div>

					<a ng-click = "login()">Already registered? Log in</a>
				</div>


				
			
			</form>
		</div>
	
   </ion-content>
</ion-view>