<ion-view view-title="Transaction History">
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll has-header has-footer">
		<ion-item ng-show="loadingTrackers">
			<ion-spinner icon="spiral"></ion-spinner>
		</ion-item>

		<ion-item ng-show="nohis" class=""><p>There are no records found.</p></ion-item>

		<ion-list  ng-show="showhis">
			<ion-item ng-repeat="transaction in transations">
			<p ng-click='goToJob({{transaction.job_id}})'><strong>{{transaction.jobs.job_title}}</strong><br>{{transaction.transaction_id}}</p>
			<div style="margin-top: 8px;">
				<div style="float:left"><strong>kr {{transaction.amount}}</strong></div>
				<div style="float:right"><span class="{{transaction.typecolor}}">{{transaction.type}}</span></div>
			</div>
			<div style="clear:both;"></div>

			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>