<ion-view view-title="Update profile">
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll  has-header has-tabs">
		<form ng-submit="UpdateProfile(user)" name="profileupdateform">
			<div class="list">

				<div class="create-account-image">
					<div class="user-img">
						<img src="{{user.profile_picture}}">	
					</div>
					<div class="user-info-name">
						<p><span>{{user.first_name}}</span> <span>{{user.last_name}}</span><br/>{{user.address}}</p>
					</div>
				</div>

				
					<div class="row">
						<div class="col"><button type="button" class="button button-block button-small button-positive" ng-click = "openPopover()">Change Image</button></div>

						<div class="col" ng-show="deleteimage"><button type="button" class="button button-block button-small button-assertive" ng-click = "removeImage()">Remove Image</button></div>
					</div>
				
	  
				<label class="item item-input item-stacked-label">
					<span class="input-label">First Name <em>*</em></span>
					<input id="proffname" type="text" placeholder="John" ng-model="user.first_name" name="firstname" ng-Required="true" ng-minlength="3" ng-maxlength="30">
					<p class="error ng-hide" ng-show="(profileupdateform.firstname.$error.required || profileupdateform.firstname.$error.minlength) && !profileupdateform.firstname.$pristine">* Firstname required atleast 3 characters</p>
					<p class="error ng-hide" ng-show="profileupdateform.firstname.$error.maxlength && !profileupdateform.firstname.$pristine">* Firstname cannot exceed 30 characters.</p>	
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Last Name <em>*</em></span>
					<input id="proflname" type="text" placeholder="Suhr" ng-model="user.last_name" name="lastname" ng-Required="true" ng-minlength="3" ng-maxlength="30">
					<p class="error ng-hide" ng-show="(profileupdateform.lastname.$error.required || profileupdateform.lastname.$error.minlength) && !profileupdateform.lastname.$pristine">* Lastname required atleast 3 characters</p>
					<p class="error ng-hide" ng-show="profileupdateform.lastname.$error.maxlength && !profileupdateform.lastname.$pristine">* Lastname cannot exceed 30 characters.</p>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input id="profemail" type="email" placeholder="john@suhr.com" ng-model="user.email" name="email" disabled>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Contact</span>
					<input id="profcontact" type="tel" placeholder="011010111" ng-model="user.phone" name="phone">
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Gender <em>*</em></span>
					
					<input type="text"  ng-model='user.gender_txt' ng-Required="true" ng-click="setgender()" readonly style="background-color:#fff;text-align:right;padding-right:50px;">

				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Age</span>
					<input id="profage" type="tel" placeholder="20" ng-model="user.age"  name="age">
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Address</span>
					<textarea placeholder="Area  Region  Country" ng-model="user.address"  name="address"></textarea>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">About</span>
					<textarea  placeholder="Write some words about yourself" ng-model="user.about"  name="about"></textarea>
				</label>

				<ion-checkbox ng-model="user.isChecked" ng-change="updateJobSeeker(user)">Also I want to be a Job seeker.</ion-checkbox>

				<label class="item item-input item-stacked-label" ng-show="jobseekerdiv">
					<span class="input-label">Price (kr) <em>*</em></span>
					<input type="number" placeholder="20" ng-model="user.price" name="price" ng-Required="user.isChecked">
				</label>
				<p class="error ng-hide" ng-show="profileupdateform.price.$error.required && !profileupdateform.price.$pristine">* Price is required.</p>
				
			
				<div class="item">
					<span class="input-label">Profile Status <em>*</em></span>
					<input type="radio" ng-model="user.profile_status" ng-value="0" ng-checked="{user.profile_status == 0}"/>&nbsp;Public&nbsp;&nbsp;
					<input type="radio" ng-model="user.profile_status" ng-value="1" ng-checked="{user.profile_status == 1}"/>&nbsp;Private&nbsp;&nbsp;
				</div>

				
				<ion-item>
				<button class="button button-full button-positive"  ng-disabled="profileupdateform.$invalid">Update Profile</button>
				</ion-item>

			</div>
		</form>
  </ion-content>
</ion-view>
