<ion-view view-title="Update Job">
	<ion-content overflow-scroll="false" class="has-header has-tabs scroll-content ionic-scroll">

		<form name="updateJobForm" ng-submit="updateJob(job)">
			<div class="list">
				
				<center><img ng-src="{{job.image}}" ng-show="jobimage" width="100%" height="200"/></center>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Job Title <em>*</em></span>
					<input type="text" ng-model="job.job_title" ng-Required="true" name="jobtitle">
					<p class="error" ng-show="updateJobForm.jobtitle.$error.required && !updateJobForm.jobtitle.$pristine">* Job title is required</p>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Start Date (DD/MM/YYYY) <em>*</em></span>
					<input type="text" ng-click="showDatePicker('sdate')" ng-model="job.sdate" ng-Required="true" name="sdate" ng-readonly="true">
					<p class="error" ng-show="updateJobForm.sdate.$error.required && !updateJobForm.sdate.$pristine">* Start date is required</p>
				</label>

				<label class="item item-input item-stacked-label ">
					<span class="input-label">End Date (DD/MM/YYYY) <em>*</em></span>
					<input type="text"  ng-click="showDatePicker('edate')" ng-model="job.edate" ng-Required="true" name="edate" ng-readonly="true">
					<p class="error" ng-show="updateJobForm.edate.$error.required && !updateJobForm.edate.$pristine">* End date is required</p>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Start Time (HH:MM:SS) <em>*</em></span>
					<input id="job_taskstart_time" type="text" ng-click="showTimePicker('stime')"  name="stime" ng-model="job.stime" ng-Required="true" ng-readonly="true">
					<p class="error" ng-show="updateJobForm.stime.$error.required && !updateJobForm.stime.$pristine">* Start time is required</p>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">End Time (HH:MM:SS) <em>*</em></span>
					<input id="job_taskend_time" type="text" ng-click="showTimePicker('etime')"  name="etime" ng-model="job.etime" ng-Required="true" ng-readonly="true">
					<p class="error" ng-show="updateJobForm.etime.$error.required && !updateJobForm.etime.$pristine">* End time is required</p>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Job Categories <em>*</em>:</span>
				
					<input type="text"  ng-model='job.job_category_txt' ng-Required="true" ng-click="showjobcategories()" readonly style="background-color:#fff;text-align:right;padding-right:50px;">

				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Area <em>*</em> <i class="info">(This will be shown publicly)</i></span>
					<textarea id="job_address"  ng-model="job.job_location" ng-Required="true" rows="4" name="address"/></textarea>
					<p class="error" ng-show="updateJobForm.address.$error.required && !updateJobForm.address.$pristine">* Address is required</p>
				</label> 
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Description <em>*</em></span>
					<textarea id="job_desc" placeholder="Description" ng-model="job.description" ng-Required="true"></textarea>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">
					Billing Type <em>*</em>
					</span>
					
					<input type="text"  ng-model='job.billing_type_txt' ng-Required="true" ng-click="billingtype()" readonly style="background-color:#fff;text-align:right;padding-right:50px;">

				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Price (in Kr) <em>*</em></span>
					<input id="job_price" type="number" placeholder="Price (in Kr)" ng-model="job.user_price" ng-Required="true">
					<p class="error" ng-show="updateJobForm.address.$error.required && !updateJobForm.address.$pristine">* Price is required</p>
				</label>
			</div>

			<div ng-show="showimage">
				<ion-item >
					<div class="row">
					  <div class="col"><img id="updateImage" style="max-width:100%;"/></div>
					</div>
				</ion-item>
			</div>


			<div class="row">
				<div class="col"><button type="button" class="button button-block button-small button-positive" ng-click = "openPopover()">{{uploadimagetxt}}</button></div>

				<div class="col" ng-show="deleteimage"><button type="button" class="button button-block button-small button-assertive" ng-click = "removeImage()">Remove Image</button></div>

				<div class="col"><button name="job_submit" class="button button-block button-small button-positive" ng-disabled="updateJobForm.$invalid">Update Job</button></div>

			</div>
		
		
		</form>
	</ion-content>
</ion-view>