<ion-view view-title="View Profile">
	<ion-content overflow-scroll="false" class="scroll-content ionic-scroll  has-header has-tabs">
		<div class="profile-page-top">
			<div class="list-block">
				<!-- First group-->
				<div class="profile-top-detail">
					<div class="user-pic">
						<img src="{{owner.profile_picture}}" ng-click="">
					</div>

					<div class="user-price ng-binding">kr {{owner.price}}/h</div>
             
					<div class="user-info">
						<p data-link="#/app/job/{{jobId}}" ng-click='viewprofile({{owner}})' PId='{{owner.id}}'>
						{{owner.first_name}}&nbsp;{{owner.last_name}}
						</p>
						
						<div class="star">
							<ion-icon color="bright" name="star" role="img" class="icon icon-ios icon-ios-bright ion-ios-star" aria-label="star" ng-repeat="star in userstars"></ion-icon>
							<ion-icon color="bright" name="star" role="img" class="icon icon-ios icon-ios-bright ion-ios-star-outline" aria-label="star" ng-repeat="star in usernostars"></ion-icon>
						</div>
						<div class="user-age"><ion-icon name="pin" role="img" class="icon icon-ios ion-location ng-hide" aria-label="pin" ng-show="showowneraddressicon"></ion-icon>&nbsp; {{owner.address}}</div>
					</div>        
				</div>
				<div class="profile-btn-view">
					<button class="button button-small button-outline ng-hide" ng-click="SendFeed()" style="color:#fff;border-color: #fff;" ng-show="showfeedback">Feedback</button>
					<button class="button button-small button-balanced ng-hide" ng-click="goHire()" ng-show="showhire">Hire</button>
					<button class="button button-small button-energized ng-hide" ng-click="goChat()" ng-show="showchat">Chat</button>

					<button class="button button-small button-energized ng-hide" ng-click="chatnow()" ng-show="showchatnow">Chat</button>

					<button class="button button-small button-assertive ng-hide" ng-click="EndTask()" ng-show="showend">End</button>
					<button class="button button-small button-balanced ng-hide" ng-click="payNow()" ng-show="showpaynow">Pay Now</button>

					<button class="button button-small button-balanced ng-hide" ng-click="hireNowPopup()" ng-show="showhirenow">Hire</button>
					
				</div>
			</div>
        </div>
		<div class="tabs tabs-icon-left tabs-view-user">
			<a class="tab-item tab-about {{aboutnav}}" ng-click="showtabs(0)"><i class="icon ion-ios-book"></i>About</a>
			<a class="tab-item tab-reviews {{reviewsnav}}" ng-click="showtabs(1)"><i class="icon ion-star"></i>Reviews</a>
          
		</div>

		<p class="padding" ng-show="aboutarea">
			<strong>About Me</strong><br/>
			{{owner.about}}
		</p>

		<ion-list show-delete="false" show-reorder="false" can-swipe="false" class="listing-job" ng-show="reviewsarea">
			<ion-item ng-show="noreviewsyet">
				<p>There are no reviews yet.</p>
			</ion-item>
			<ion-item ng-repeat="item in items" class="">
				<div class="item-detail" ng-click ="gotojob(item.jobs.id)">
					<p class="job-list-title">{{item.jobs.job_title}}</p>
					<div class="star">
						<ion-icon color="bright" name="star" role="img" class="icon icon-ios icon-ios-bright ion-ios-star" aria-label="star" ng-repeat="star in item.stars"></ion-icon>
						<ion-icon color="bright" name="star" role="img" class="icon icon-ios icon-ios-bright ion-ios-star-outline" aria-label="star" ng-repeat="star in item.nostars"></ion-icon>
					</div>

					<p class="job-list-desc feedbackstr">{{item.feedback}}</p>
				</div>   
			</ion-item>
		</ion-list>
		
	</ion-content>
</ion-view>
