/* Empty. Add your own CSS if you like */
body{font-weight:normal;}
label{font-weight:normal;}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
a{color: #1aa6c9;}
.search-home{ 
	align-items: center;
    background: #c9c9ce none repeat scroll 0 0;
    box-sizing: border-box;
    display: flex;
    height: 44px;
    overflow: hidden;
    padding: 0px 15px;
    position: relative;
    width: 100%;
}
.search-home input{
	background:#fff;
	border:0px none;
	border-radius: 3px;
	padding:5px 5px 5px 25px;
	position: relative;
	height:28px;
}
.search-home i{position:absolute;top:11px;left:20px;z-index:1;}
.button-positive{
	background: #1aa6c9 none repeat scroll 0 0 !important;
    border-color: transparent !important;
    color: #fff !important;
}
.left-userdetail{height: 87px;}
.navbar-inner, .toolbar-inner {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 0 8px;
    position: absolute;
    top: 0;
    width: 100%;
	background: #1aa6c9 none repeat scroll 0 0;
    color: #fff;
}

.navbar-inner .left {
    margin-right: 10px;
}
.navbar-inner .left, .navbar-inner .right {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    transform: translate3d(0px, 0px, 0px);
}
.navbar-inner h3{font-weight:normal;color:#fff;}
.profile-pic-left {
    border: 1px solid #6b6b6b;
    border-radius: 60px;
	 -webkit-border-radius: 60px;
	 -moz-border-radius: 60px;
    height: 60px;
    overflow: hidden;
    width: 60px;
}
.profile-pic-left img {
    height: 60px;
    width: 60px;
}
.left-menu-bar{top:87px;}
.left-menu-bar .list .item{position:relative;color:#000;}
.left-menu-bar .list .item .left-section-icon{position:absolute;left:15px;top:15px;font-size:30px;}
.left-menu-bar .list .item .right-arrow-icon{position:absolute;right:10px;top:15px;font-size:30px;}
.login-page-outter {
    background: rgba(0, 0, 0, 0) url("../images/login-bg.jpg") no-repeat fixed center center / cover ;
}
.page-login-signup {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    padding: 20px 10px !important;
	margin:40px 15px;
}
.sign-btn-outer {
    border-bottom: 1px solid #6b6b6b;
    margin-bottom: 40px;
    padding: 0px 0;
}
.sign-btn-outer .button {
    background: #f9671e none repeat scroll 0 0;
	color:#fff;
}
.forgot-signup-link a {
    color: #fff;
    font-size: 14px;
}
.page-login-signup input[type="text"], .page-login-signup input[type="password"], .page-login-signup input[type="email"], .page-login-signup input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    height: 45px;
    line-height: 29px;
    margin-top: 10px;
    padding: 8px 10px;
    width: 100%;
}
.page-login-signup .item{color:#fff;background:none !important;border:0px none;}
.button{border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.image-loader-container {
  margin: 9px;
  max-width: 81px;
  max-height: 81px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.listing-job .item-content h2{color: #1aa6c9;}
.listing-job .item-content p{color: #b0b0b0;white-space:normal;max-height:44px;font-size:12px;}
.listing-job .item-thumbnail-left, .listing-job .item-thumbnail-left .item-content{min-height:78px;}
.listing-job .icon-chat{
    position: absolute;
    right: 5px;
    bottom: 10px;
    background: url(../images/chat-icon.png) no-repeat left top;
    height: 32px;
    width: 32px;
	text-decoration:none;
}

.listing-job .icon-chat-job{
	bottom: 42px;
	z-index: 9;
}

.listing-job .icon-chat a{text-decoration:none;}
.listing-job .icon-chat .chat-counter {
    color: #fff;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    margin: 2px;
    overflow: hidden;
    text-align: center;
    width: 28px;
	text-decoration:none;
}

.ionic_ratings .icon {
  font-size:50px;
}

.ionic_ratings .read_only {
  pointer-events:none;
}

.bar.bar-stable{background: #1aa6c9;color:#fff;}
.bar.bar-stable .button, .bar.bar-stable .header-item{color:#fff !important;}
.bottom-button-home{padding:15px;}
.search-home{margin:0px;background:#1aa6c9 ;padding:4px 8px;border-radius:0px;}
.search-home .item-input{background:none;border:0px none;padding:0px;width:100%;border-radius:0px;}
.search-home .item-input .placeholder-icon{position:absolute;top:5px;left:5px;}
#map {height: 340px;width:100% !important;}
.has-search{top:88px;bottom :50px;}
.has-search.has-search-without-login{top:88px;bottom :0px;}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{max-height:60px;max-width:60px;}
.item-thumbnail-left, .item-thumbnail-left .item-content{padding-left:80px; padding-bottom: 2px;}
.job-list-title{overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap !important;color: #6b6b6b !important;font-size:14px !important;font-weight:700 !important;}
.job-list-desc{color:#b0b0b0 !important;}

 .story-header {
    background-color: #2a282d !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 170px;
    padding: 20px 15px;
    position: relative;
    z-index: 10;
	/* overflow:hidden; */
	color:#fff;
	background-size:cover;
	background-repeat: no-repeat;
}
.story-header:after {
    content: "";
    background:rgba(0, 0, 0, 0.0);
	left:0px;
	bottom:0px;
    top: 0px;
    right: 0px;
    position: absolute;
    display: inline-block;}
.story-header .img-bg-div{
	left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.story-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    height: 160px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
	z-index:1;
	margin-right:30px;
	text-shadow: 0 0 5px #000;
}
.story-title p{font-size:12px;}
.story-info {
    color: #fff;
	position:relative;
	z-index:1;
}
.story-info .row{padding: 0px 0px;}
.story-info .row .col{padding: 0px;}
.story-info strong{font-weight:bold;}
.story-comments {
	position: relative;
	/* height: -moz-calc(100% - 130px);
	height: -ms-calc(100% - 130px);
	height: -webkit-calc(100% - 130px);
	height: calc(100% - 130px);
	overflow: auto; */
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	/* background: #f1f1f1; */
}
.story-comments .messages {
	/* padding-bottom: 20px; */
}
.story-comments .messages > .preloader {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	margin-left: -16px;
	top: 20px;
}
.story-comments .preloader-label {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	text-align: center;
}
.story-comments .message {
	max-width: 100%;
	margin-left:0px;
	margin-right:0px;
}
.story-comments .message-name{
	background: #000;
	padding:5px 15px;
	margin-top:0px;font-weight: 500;
	color: #fff;
}
.story-comments .message-name .comment-name {
	max-width:55%;
	max-height:44px;overflow:hidden;
}
.story-comments .message-text {
	font-size: 12px;
	color: #000;
	line-height: 1.3;
	margin-top:7px;
	padding-bottom:0px;
}
.story-comments .message-sent .message-text {
	font-size: 14px;
	background: #ff6600;
	color: #fff;
	line-height: 1.3;
}
.story-comments .message-sent .message-text a {
	color: #555;
}
.single-job .list{padding-top:0px;}
.desc-job-single{padding:10px 15px;color:#444;}
.desc-job-single h4{margin:0px;}
.desc-job-single .row{border-bottom: 1px solid #ccc;padding:0px;}
.desc-job-single .row .col{padding-left:0px;}
.story-info{font-size:11px;color:#6b6b6b;padding:10px 15px;line-height:22px;}
.story-info .date-task{width:100%;}
.story-info .time-task{width:100%;}
.story-info i{font-size:16px;color:#000;padding-right:2px;position: relative;top: 2px;}
.user-img-job-outer{position:absolute;right:15%;top:-30px;z-index: 99;font-size:14px;font-weight:bold;color:#6b6b6b;text-align: center;width:110px;}
.user-img-job-outer p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:100%}
.user-img-job{height:90px;width:90px;line-height:85px;overflow:hidden;border:1px solid #7a7a7a;background:#1ca5ca;border-radius:90px;-webkit-border-radius:90px;-moz-border-radius:90px;margin:0 auto;}
.user-img-job img{max-width:100%;vertical-align:middle;}
.form-create span, .form-create input, .form-create textarea{font-size:12px;font-weight:normal;}
.date-time-select input[type="date"], .time-date-input input[type="time"]{width:80%;flex: inherit;border-left:1px solid #f3f3f3;padding-left:6px;}
.form-create .input-label{width:120px;}
.form-create textarea{height: 80px;}
.form-create select{padding-right:24px;border:1px solid #f2f2f2;padding:5px;font-size:12px;font-weight:normal;}
.inner-tabs-jobs .tabs{background: #1ca5ca !important;}
.inner-tabs-jobs .tabs .tab-item{max-width:50%;}

.tabs{background: #2a282d; border-top: 1px solid #2a282d;}
.tabs a{color: #fff;}
/* ------- SEARCH ----*/
.textbox-search {
    background: #fff !important;
}

.header-item .ion-android-search:before{content:"" !important;}
.header-item .ion-android-search .ion-ios-search:before{font-size: 26px !important;}
.inner-tabs-jobs .tabs .tab-item{font-size:16px;}
.profile-page-top{
	height:auto;
	overflow:hidden;
	width:auto;
	font-size:12px;
}
.profile-page-top .item-title{font-size:12px;color: #fff !important;}
.profile-page-top .list-block ul{background:none !important;}
.profile-page-top .list-block ul::before, .profile-page-top .list-block ul::after{background:none;}
.profile-page-top .list-block .item-after{font-size:30px;color: #fff !important;}

.profile-page-top .buttons-row .button {
    margin-left: 16px;
    width: 100%;
	border-radius:5px;
	 -webkit-border-radius:5px;
	 -moz-border-radius:5px;
}
.profile-page-top .list-block{background:#1ca5ca;margin:0px;padding:15px;}
.profile-page-top .seeker-location-profile{padding-top:20px;font-size:14px;}
.profile-page-top .seeker-location-profile i{color:#1ca5ca;font-size: 18px}
.profile-btn-view{text-align: center;padding-top:20px;}
.profile-btn-view .button{padding-left: 20px;padding-right:20px;margin-right:15px;}
.profile-btn-view .button:last-child{margin-right:0px;}

.profile-top-detail{height:auto;overflow:hidden;width:100%;}
.profile-top-detail .user-info{margin-left:80px;margin-right:105px;color:#fff;font-size:15px;}
.profile-top-detail .user-pic{line-height:65px;float:left;height:70px;width:70px;overflow:hidden;border-radius:70px;-webkit-border-radius:70px; -moz-border-radius:70px;border:1px solid #ccc;background:#1CA5CA;}
.profile-top-detail .user-pic img{max-width:100%;vertical-align:middle;}
.profile-top-detail p{margin-bottom:0px;}
.profile-top-detail .user-price{float:right;width:95px;font-size:18px;color:#fff;margin-top:20px;}
.tabs-view-user{position: relative !important;}
.tabs-view-user .tab-item{width:50%;max-width: inherit;}
.tabs-view-user .tab-item.active {
    border-bottom: 2px solid #1ca5ca;
    color: #1ca5ca;
}
.tabs-icon-top .icon{font-size:24px;margin-top:3px;height:26px;}
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper{height:34px !important;}
.filter-bar-wrapper .filter-bar-search{height:34px !important;}
.form-create .item-input select{
	width:100%;    
	display: block;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px; padding-right: 44px;-webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	top:3px;
	right:5px;
}
.time-date-input input, .date-time-select input{padding-top:0px !important;}
.item-detail{height:100%;}
/* .item-detail img{
	height: 100%;
    left: 5px;
    max-height: 60px;
    max-width: 60px;
    position: absolute;
    top: 10px;
	border:1px solid #ccc;
	border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;
    width: 100%;
} */
.item-img-left{
	height: 60px;
    left: 5px;
    position: absolute;
    top: 10px;
	border:1px solid #ccc;
	border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;
    width: 60px;overflow:hidden;line-height:55px;background:#1ca5ca;

}
.item-img-left img{max-width:100%;vertical-align: middle;border-radius:0px !important;}
.item-content img{border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;}
.myposts .item-content{padding-left: 0px; padding-bottom: 2px; padding-top:5px; padding-right: 10px;}
.myposts .item-content .item-detail{padding-left:75px;min-height:70px;}
.input-label{font-weight:normal;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{font-weight: normal !important;}
.item-select select{direction: ltr;font-weight:norm;al;}
.ionic_ratings .icon{font-size:30px;}
.edit-task-icon{position:absolute;right:10px;top:10px;height:30px;width:30px;z-index:1;color:#fff;font-size:20px;}

.myposts .item-thumbnail-left{border-left: 5px solid #fff;border-top:0px none;border-right: 0px none;border-bottom:1px solid #ddd !important;margin:0px 0px;}

.myposts .item-thumbnail-left .status{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:1px 7px;color:#fff; position:absolute;bottom:5px;right:10px;}

.myposts .item-thumbnail-left.completed-paid{border-color: #28a54c;}
.myposts .item-thumbnail-left.completed-paid .status{background: #28a54c;}

.myposts .item-thumbnail-left.completed-unpaid{border-color: #ef473a;}
.myposts .item-thumbnail-left.completed-unpaid .status{background: #ef473a;}

.myposts .item-thumbnail-left.inprogress{border-color: orange;}
.myposts .item-thumbnail-left.inprogress .status{background: orange;}

/**** Chat List CSS *******/
  /********  chat *********/
.messages-chat-page {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
}
.messages-chat-page .message {
  clear: both;
  overflow: hidden;
  margin: 0px;
  transition: all 0.5s linear;
  opacity: 0;
  max-width: inherit;
  display: inherit;
  padding-top:20px;
}
.messages-chat-page * {
    box-sizing: border-box;
}
.messages-chat-page .message.left .avatar {
  background-color: #ffe6cb;
  float: left;
}
.messages-chat-page .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 16px;
}
.messages-chat-page .message.left .text_wrapper::after, .messages-chat-page .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages-chat-page .message.left .text {
  color: #c48843;
}
.messages-chat-page .message.right .avatar {
  background-color: #1ca5ca;
  float: right;
}
.messages-chat-page .message.right .text_wrapper {
  background-color: #1ca5ca;
  margin-right: 20px;
  float: right;
}
.messages-chat-page .message.right .text_wrapper::after, .messages-chat-page .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #1ca5ca;
}
.messages-chat-page .message.right .text {
  color: #fff;
}
.messages-chat-page .message.appeared {
  opacity: 1;
}
.messages-chat-page .message .avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  border:1px solid #000;
  border-radius:50px;
   -webkit-border-radius:50px;
   -moz-border-radius:50px;
  line-height: 45px;
}
.messages-chat-page .message .text_wrapper {
  display: inline-block;
  padding: 10px;
  margin-top:10px;
  border-radius: 6px;
  width: calc(100% - 70px);
  min-width: 100px;
  position: relative;
}
.messages-chat-page .message .text_wrapper::after, .messages-chat-page .message .text_wrapper:before {
  top: 8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages-chat-page .message .text_wrapper::after {
  border-width: 7px;
  margin-top: 0px;
}
.messages-chat-page .message .text_wrapper::before {
  border-width: 9px;
  margin-top: -2px;
}
.messages-chat-page .message .text_wrapper .text {
  font-size: 12px;
 /*  font-weight: 300; */
}
.bottom_wrapper .message_input_wrapper {
  height: 40px;
  border-radius: 25px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: auto;
  position: relative;
  padding: 0 20px;
  background: #fff;
  bottom:0px;
  margin-right:120px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 100px;
  height: 40px;
  display: inline-block;
  border-radius: 50px;
  background-color: #1ca5ca;
  border: 2px solid #1ca5ca;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  position:absolute;right:-120px;
}
.bottom_wrapper .send_message:hover {
  color: #1ca5ca;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 35px;
}
.bottom_wrapper{
  background: #f2f2f2 none repeat scroll 0 0;
    /* left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
      bottom:48px; */
	  width:100%;
	  padding:10px;
}
.item-input-inset.bar-footer-chat{bottom:49px;padding:0px;height:59px;}
.text_wrapper .time-msg{position: absolute; top: -17px; font-size: 10px; color: #868686;left:5px;}
.message.appeared.left .time-msg{right:5px;text-align:right;}

.searchBar {
	color: #fff;
	margin: 0 !important;
	padding: 0;
	
	
}
.searchBar .icon {
	font-size: 27px;
	line-height: 1.2;
	padding-right: 6px;
	padding-left: 6px;
}
.searchBar .searchTxt {
	border: 1px solid #fff;
	left: 55px;
	width: calc(100% - 100px);
	position: fixed;
	height: calc(100% - 10px);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #fff;
}
.searchBar.numicons2 .searchTxt {
	width: calc(100% - 135px);
}
.searchBar .searchTxt > .bgdiv {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
}
.searchBar .searchTxt > .bgtxt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.searchBar .searchTxt input {
	background-color: inherit;
	color: #858585;
	padding-left: 5px;
	padding-right:5px;
	width: 100%;
}

.searchBar .placeholder-icon{color: #fff}

/*******8 Chat ******/
.thumb-cover {
    background-size: cover;
    border-radius: 50px;
    display: inline-block;
    height: 60px;
    left: 5px;
    overflow: hidden;
    position: absolute;
    top: 16px;
    width: 60px;
}

.thumb-cover .thumb-big-left {
    background-size: cover;
    height: 60px;
    margin-left: -25px;
    width: 60px;
	border: 1px solid #eee;
	overflow: hidden;
	border-radius: 60px;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	line-height: 55px;
	background: #1CA5CA;
}
.thumb-cover .thumb-big-left img{max-width:100%;vertical-align:middle;border-radius:0px !important;}
.singal-thumb.thumb-big-left {
    margin-left: 0 !important;
}

.thumb-cover .thumb-big-left .image-container{ background-size: cover;
    height: 48px;
    width:48px;
}
.chat-list {
    line-height: 36px;
    position: absolute;
    right: 20px;
    top: 43px;
}
.scroll-content{padding-top: 0px;}
.bar-header {
    border-bottom-width: 0;
}

.chatbar p.chatuser{
	font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatbar p.chatuser-nojob {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chatbar p.jobtitle{line-height: 16px;font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/** Profile Image Css**/
.create-account-image{background: #1ca5ca;padding:15px 15px;text-align:center;}
.create-account-image img{max-width:60px;}

.user-img{width:120px;height:120px;overflow:hidden;border:0px none;border-radius:150px;-moz-border-radius:150px;-webkit-border-radius:150px;margin:0px auto 15px auto;}
.user-img img{max-width:100%;}
.user-info-name{font-size:22px;font-weight:lighter;color:#fff;}
.user-info-name p{font-size:16px;padding-top:10px;}
/*** profile ***/

.popup-no-title .popup-head {
  display: none;
}

.has-footer-chat{bottom: 115px !important;}

.popup-container .popup {
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow: hidden;
}

.popup-container .popup .popup-head{
	background: #1ca5ca;
	border-bottom: 0px none;
	color: #fff;
}

.popup-container .popup .popup-head .pop-title{
	color: #fff;
}

.uploadimage .action-sheet .button{background:#fff;font-size:16px;}
.uploadimage .action-sheet .button i{font-size:21px;padding-right:6px;}
.uploadimage .action-sheet-title{background: #1ca5ca;color:#fff;  font-size: 18px;font-weight: 600;}
.uploadimage .action-sheet-cancel button.button{background:#ef473a;color:#fff;}

.job-list-time{font-size: 12px !important;}
.button-option-icon{display:inline-block !important;line-height: 0px;padding-top:10px; }
.button-option-icon i {display:block;}

p.error{color:red;margin:5px 0px 0px 0px;}

em{color: red;}

.leftmenu-sidebar .bar-stable .title{color:#fff;}
.leftmenu-sidebar i.icon{font-size: 22px; margin-right:6px;}
.list .item h4{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #6b6b6b;font-size:14px;font-weight:700px}
.item-complex .item-content, .item-radio .item-content{padding:left:15px;}


/*** login page ***/
.login-bg .scroll-content {
    background-image: url('../images/login-bg.jpg');
    background-size: cover;
}
.logo-login{
	margin-top:35px;
	text-align:center;
}
.logo-login img{max-width:120px;}
.login-form{margin-top:35px;}
.login-form .item{border-radius:0px !important;}
.login-form .input-label{width:30px;font-size:23px !important;color:#bbbbbd;}
.login-form .login-btn{background: none;border:0px none;padding:0px;}
.login-form .login-btn .button{margin:0px;}
.app-button{
    border-color: transparent;
	border-radius:0px;
}
.login-bottom-links{width:100%;margin-top:30px;}
.login-bottom-links a{color:#fff;}

/*** sign up ***/
.signup-form .input-label{width:30px;font-size:23px !important;color:#bbbbbd;}
.signup-form .item{border:0px none;border-bottom:2px solid #f3f3f4;padding-left:5px;}
.signup-form .item-checkbox{padding-left: 60px;}

.create-account-image-signup{background: #1ca5ca;padding:40px 15px;text-align:center;}
.create-account-image-signup img{max-width:110px;}

.create-account-image-signup .image-outer{position:relative;width:110px;height:110px;margin:auto}
.create-account-image-signup .image-outer i{font-size:20px;position:absolute;top:-7px;right:-7px;}
/*** sign up ***/

.button.disabled, .button[disabled]{opacity:0.7}

.loginbutton i::before{font-size: 22px !important;line-height: 25px !important;}

.feedbackstr{white-space: normal;}

.tab-item.tab-item-active{background: #404040;}

i.info{font-size: 12px; color: #7e7e7e;}

.search-home-alljobs {padding-right: 2px; padding-left: 2px; }

.search-home-alljobs .item-select{padding: 13px 2px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background: #ffffff;}

.search-home-alljobs .item-select select{padding: 0 20px 0 0; max-width: 100%}

.search-home-alljobs .item-select .input-label{padding: 0px;}

.search-home-alljobs .input-label{font-size: 15px;}

.search-home-alljobs .item-select::after{right: 5px;}

.profile-status .item{border: 0px none;}

.message .avatar img{max-width: 100%;vertical-align:middle;}
